In [44]:
import sqlite3

connect to the sqlite databse

In [45]:
connection=sqlite3.connect('sampledatabase.db')
connection

In [46]:
from sqlite3.dbapi2 import Cursor
Cursor = connection.cursor()

Create table

In [47]:
Cursor.execute(''' Create Table If Not Exists employees(
  id Integer Primary key,
  name Text Not NUll,
  age Integer,
  department text)


''')

connection.commit()

In [48]:
Cursor.execute('''select * from employees ''')

inserting the data  in the sqlite

In [49]:
Cursor.execute('''
INSERT INTO employees(name,age,department)
 VALUES ('veera',22,'Machine learning engineer')

''')
Cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES('kunal',32,'Mechanical  engineer')

''')
Cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES ('kanna',42,' Finance')

''')

In [50]:
connection.commit()

Quering the data from the table

In [51]:
Cursor.execute('select * from employees')
rows = Cursor.fetchall()
for row in rows:
    print(row)

(1, 'veera', 22, 'Machine learning engineer')
(2, 'kunal', 32, 'Mechanical  engineer')
(3, 'kanna', 42, ' Finance')

In [54]:
#UPDATE THE DATA IN THE TABLE

Cursor.execute('''
UPDATE employees
set age = 34
where name ="PRATHAP"
''')

connection.commit()

Delete the data from the table

In [56]:
Cursor.execute('''
Delete from employees
      WHERE  department = 'Machine learning engineer'
      ''')

In [62]:
connection.close()